.sort-form {
    fieldset {
        border: none;
        display: flex;
        align-items: center;
        flex-direction: column;

        @media (min-width: $breakpoint-medium) {
            flex-direction: row;
        }

        label {
            @include space-inset-s;
            flex: 1 0 auto;
        }
        input { 
            @include space-inset-s;

            flex: 0 1 auto;
        }
    }
}