.sub-legend {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: normal;
  border-bottom: 1px solid black;
  display: block;
  width: 100%;
  line-height: 2rem;
}

.nypl-select__menu {
  @media (min-width: 40em) {
    margin-right: 1rem;
  }
  @media (min-width: 64em) {
    margin-right: 2rem;
  }
}
.nypl-select {
  @media (min-width: 40em) {
    margin-right: 1rem;
  }
  @media (min-width: 64em) {
    margin-right: 2rem;
  }
}
.nypl-select__multi-value {
  border: 1px dashed #7fb4dc;
}

.tag-button {
  color: black;
  box-shadow: inset 0 0 0 1px #000;
  border-radius: 0;
  position: relative;
  padding-right: 1.5rem;
  cursor: pointer;

  &:after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.7rem;
    content: 'x';
    padding: 0.5rem 0.5rem;
  }
}
