.nypl-breadcrumbs {
  color: #0071bb;
  li {
    display: inline;
    a,
    a:visited {
      color: #0071bb;
      &:hover {
        background: initial;
      }
    }
    &::before {
      content: ' / ';
    }
    &:first-child {
      &::before {
        content: '';
      }
    }
  }
}
