dl.nypl-details-table {
  width: 100%;
  margin: 0 0 40px 0;


  border-bottom: 1px solid #5b616b;
  display: flex;
  flex-flow: column;

  @include breakpoint($large) {
    flex-flow: row wrap;
  }
    dt {
      @include space-inset-xs;

      border-top: 1px solid #5b616b;
      flex: 0 1 20%;
      text-align: left;
      font-weight: 500;
    }
    dd {
      @include space-inset-xs;

      flex: 0 1 80%;
      text-align: left;
      margin-left: 0;

      @include breakpoint($large) {
        border-top: 1px solid #5b616b;
      }

      ul {
        list-style: none;
        padding: 0;
      }
    }
  
}
.work-details-tag {
  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
}
