ul.nypl-ebooks-list {
  list-style: none;
  display: block;
  margin: 0;
  white-space: nowrap;
  color: #0071bb;
  padding: 0;
  li {
    display: inline-block;
    text-align: center;
    a {
      border: 2px solid #0071bb;
      border-radius: 5px;
      padding: 0.5rem;
      display: inline-block;
      margin: 0.5rem;
      width: 7rem;
      height: 2rem;
      line-height: 0.9rem;
      text-align: center;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.nypl-editions-view-all {
  padding: 20px;
}
