.nypl-editions-table {
  width: 100%;
  margin: 0;
  tr {
    td,
    th {
      height: 63px;
      text-align: left;
    }
    th {
      padding-left: 20px;
    }
    td {
      border-right: 1px solid #5b616b;
      &.nypl-editions-table-downloads {
        padding: 0;
      }
      &:first-child {
        width: 182px;
      }

      &:last-child {
        border-right: none;
        white-space: nowrap;
      }
      ul {
        list-style: none;
        &.sfr-inline-list {
          display: inline;
          white-space: normal;
          li {
            display: inline;
          }
        }
      }
    }
  }
}
.usa-table--borderless th:first-child {
  padding-left: 20px;
}
