.filters {
  padding: 1rem 0 1rem 2rem;
  .filters-header {
    font-family: 'Kievit-Bold';
    font-size: 1.2rem;
  }
  .filters-box {
    margin-top: 1rem;
    .filters-box-header {
      border-bottom: 1px solid black;
      margin-bottom: 1rem;
      text-transform: uppercase;
      width: 100%;
    }
  }
  .usa-error-message {
    position: absolute;
    bottom: -2rem;
  }
}
