.advanced-search-tags { 
  justify-content: space-between;
  width: 100%;
}

.nypl-results-summary {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  padding-left: 0.5rem;
  box-sizing: border-box;
  font-weight: bold;
  height: 2.5rem;
  margin-top: 2rem;
  line-height: 2.5rem;
  overflow: hidden;
}

.nypl-results-item-author {
  ul {
    margin-left: 5px;
    list-style: none;
    display: inline;
    li {
      display: inline;
    }
  }
}
.nypl-results-item-header {
  margin-top: 2em;
  min-height: 160px;
  .nypl-results-item-header-image {
    position: absolute;
    width: 100px;
    padding: 0 10px 10px;

    margin: 10px;
    height: 125px;
  }
  .nypl-results-item-header-column {
    float: left;
    max-width: 875px;
    margin-left: 140px;
    h3 {
      margin: 0 0 10px;
    }
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
h1.nypl-heading {
  font-weight: 300;
}
.nypl-results-list {
  list-style: none;
  padding: 0;
  .nypl-results-item {
    padding: 0;
    margin: 0;
    border-bottom: none;
    h3 {
      a:link {
        font-weight: bold;
      }
    }
  }
}

.nypl-search {
  width: 100%;
  justify-content: center;
  .nypl-select-input {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .nypl-searchbar {
    position: relative;
    overflow: hidden;
    margin-right: 0;
  }

  .nypl-search-input {
    margin-right: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .nypl-search-button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
  }
  .nypl-advanced-search {
    line-height: 2.5rem;
    padding-top: 0.5rem;
  }
}

.nypl-searchbar-input {
  position: relative;
  .usa-error-message {
    position: absolute;
    top: -1.5rem;
  }
}

.search-navigation {
  display: flex;
  justify-content: space-between;
}

.search-dropdowns{
  width: 100%;
}

.usa-button.sfr-search-button {
  height: 2.5rem;
  margin-top: 0.5rem;
  background-color: #0071ce;
  width: 100%;
}
.usa-fieldset,
.usa-input,
.usa-textarea,
.usa-select,
.usa-range,
.usa-hint,
.usa-button 
.usa-search--big [type='submit'],
.usa-search--big .usa-search__submit {
  font-size: 1rem;
}

.nypl-screenreader-only {
  @include screenreader-only;
}

.sfr-results-wrapper {
  margin-top: 40px;
}
