.nypl-results-container {
  .nypl-results-column {
    float: left;
    max-width: 327px;
    width: 25%;
  }
  .nypl-results-main,
  .nypl-results-search-header {
    float: left;
    max-width: 1000px;
    width: 74.5%;
  }
  .nypl-results-main {
    border-left: 1px solid black;
    h3 {
      margin: 0;
    }
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.nypl-results-summary {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
  font-weight: bold;
  height: 42px;
  margin-top: 26px;
  line-height: 42px;
}

.nypl-results-item-author {
  ul {
    list-style: none;
    display: inline;
    li {
      display: inline;
    }
  }
}
.nypl-results-item-header {
  margin-top: 2em;
  min-height: 150px;
  .nypl-results-item-header-image {
    position: absolute;
    width: 125px;
    padding: 10px;
    // box-sizing: border-box;

    margin: 10px;
    // background: aliceblue;
    // box-shadow: 0px 0px 54px inset #bbbbbf;
    height: 150px;
    // border: 1px solid black;
  }
  .nypl-results-item-header-column {
    float: left;
    max-width: 875px;
    margin-left: 135px;
    h3 {
      margin: 0;
    }
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
h1.nypl-heading {
  font-weight: 300;
}
.nypl-results-list {
  .nypl-results-item {
    padding: 0;
    margin: 0;
    border-bottom: none;
    h3 {
      a:link {
        text-decoration: underline;
        font-weight: bold;
      }
    }
  }
}

.nypl-search {
  .nypl-select-input {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .nypl-searchbar {
    position: relative;
    overflow: hidden;
    margin-right: 0;
  }
  
  .nypl-search-input {
    width: 100%;
    margin-right: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .nypl-search-button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
  }

}
