.search-header-table {
  width: 100%;
  thead {
    tr {
      border-bottom: 1px solid black;
      height: 26px;
    }
    th {
      font-weight: normal;
      text-align: left;
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      td {
        border-right: 1px solid black;
        height: 40px;
        font-weight: bold;
        select {
          width: 100%;
          border-radius: 0;
          height: 40px;
          border: none;
          background: white;
        }
      }
    }
  }
}
.sfr-results-search-header,
.sfr-results-search-footer {
  .grid-row {
    min-height: 1.5rem;
  }
  .sfr-select-input {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .search-header {
    label {
      display: block;
      height: 2rem;
      line-height: 2rem;
    }
    .usa-select {
      border-right: 0;
      margin-top: 0;
    }
    .sfr-header-border {
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      border-left: 1px solid black;
      margin-top: 2rem;
      line-height: 2.25rem;
      height: 2.5rem;
      &.last {
        border-right: 1px solid black;
      }
      &.empty {
        border-left: none;
      }
      a {
        cursor: pointer;
      }
    }
  }
}
