.search-header {
  @media (min-width: var(--nypl-breakpoint-medium)) {
    flex-flow: row;
    align-items: flex-start;
  }
}

.search-header-form {
  // flex: 1;
  @media (max-width: 490px) {
    // display: block;
    display: flex;
    button {
      width: 100%;
    }
  }
  @media (min-width: 870px) {
    .search-bar {
      width: 85%;
    }
  }
  select {
    padding-left: var(--nypl-space-xs);
    padding-right: var(--nypl-space-l);
  }
}