/**
 * Import style from NYPL's global footer.
 */
@import '~@nypl/dgx-react-footer/dist/styles/styles';

/**
 * Import style rules for US.gov Web Design System.
 */
@import './core/rnw_variables';
@import '~uswds/src/stylesheets/uswds';

/**
 * Import custom rules for this project.
 */

@import './mixins/Mixins.scss';
@import './components/Search.scss';
@import './components/WorkHeader.scss';
@import './components/WorkDetail.scss';
@import './components/EBookList.scss';
@import './components/DefinitionList.scss';
@import './components/EditionsList.scss';
@import './components/Breadcrumbs.scss';
@import './components/SearchHeader.scss';
@import './core/fonts.scss';

$nypl-dark-blue: #135772;

html {
  font-family: 'Kievit-Medium', Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}
body {
  line-height: 1.5rem;
}
#app {
  margin: 0;
}

.nypl-header-img {
  background: url('./img/header.png') no-repeat center;
  border-bottom: 2px solid #d0343a;

  @media screen and (min-width: 1024px) {
    min-height: 230px;
  }

  @media screen and (max-width: 1024px) {
    background: url('./img/header-md.png') no-repeat center;
    min-height: 180px;
  }

  @media screen and (max-width: 520px) {
    background: url('./img/header-sm.png') no-repeat center;
    min-height: 70px;
  }
}

.main-content {
  margin: 0 auto 60px;
  width: 100%;
  min-height: 400px;
  max-width: 1332px;
  .sfr-main {
    max-width: 1332px;
  }
}

#tagline {
  text-align: left;
  margin: 25px 0;
}

.nypl-page-header {
  background-color: white;
}
.nypl-full-width-wrapper {
  max-width: 1332px;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  max-width: initial !important;
}

a:link,
a:visited,
a {
  color: #0071ce;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.bold {
  font-weight: bold;
}

.footer {
  .footerLinks {
    a {
      color: #fff;
    }
  }
}
.sfr-header-wrapper {
  // max-width: 840px;
  // width: 100%;
  margin: 0 auto;
}

.sfr-center {
  margin-left: auto;
  margin-right: auto;
}
