/*
Import style rules from NYPL Design Toolkit
*/
@import '~@nypl/design-toolkit/sass/nypl-normalize';
@import '~@nypl/design-toolkit/sass/toolkit';

/*
Import style rules from NYPL React module components
*/
@import '~@nypl/dgx-header-component/dist/styles/main';
@import '~@nypl/dgx-react-footer/dist/styles/styles';
@import './components/Search.scss';
@import './components/WorkHeader.scss';
@import './components/WorkDetail.scss';
@import './components/EBookList.scss';
@import './components/DefinitionList.scss';
@import './components/EditionsList.scss';

$nypl-dark-blue: #135772;

#app {
  margin: 0;
}

#mainContent {
  margin: 0 auto 60px;
  width: 100%;
  min-height: 400px;
}

#tagline {
  text-align: left;
  margin: 25px 0;
}

.nypl-page-header {
  background-color: white;
}
.nypl-full-width-wrapper {
  max-width: 1332px;
  padding: 0 40px;
  margin: 0 auto;
}

a:link {
  color: #0071ce;
}
.bold {
  font-weight: bold;
}

.footer {
  .footerLinks {
    a {
      color: #fff;
    }
  }
}
