/**
 * Import style from NYPL's global footer.
 */
@import '~@nypl/dgx-react-footer/dist/styles/styles';

@import '~@nypl/design-system-styles/style';

/**
 * Import style rules for US.gov Web Design System.
 */
@import './core/rnw_variables';
@import '~uswds/src/stylesheets/uswds';

/**
* Import font
*/
@import '~system-font-css/system-font';

$nypl-dark-blue: #135772;
$fontFamily: 'system-ui';

/**
 * Import custom rules for this project.
 */

@import './mixins/Mixins.scss';
@import './components/Search.scss';
@import './components/WorkHeader.scss';
@import './components/WorkDetail.scss';
@import './components/EBookList.scss';
@import './components/EBookViewer.scss';
@import './components/DefinitionList.scss';
@import './components/EditionsList.scss';
@import './components/Breadcrumbs.scss';
@import './components/SearchHeader.scss';
@import './components/SearchFooter.scss';
@import './components/Loading.scss';
@import './components/Filters.scss';
@import './components/AdvancedSearch.scss';

html {
  font-family: $fontFamily;
  height: 100%;
}
body {
  line-height: 1.5rem;
  height: 100%;
}
#app {
  margin: 0;
  height: 100%;
}

.nypl-header-img {
  background: url('./img/header.png') no-repeat center;
  border-bottom: 2px solid #d0343a;

  @media screen and (min-width: 1024px) {
    min-height: 230px;
  }

  @media screen and (max-width: 1024px) {
    background: url('./img/header-md.png') no-repeat center;
    min-height: 180px;
  }

  @media screen and (max-width: 520px) {
    background: url('./img/header-sm.png') no-repeat center;
    min-height: 70px;
  }
}

.main-content {
  margin: 0 auto;
  width: 100%;
  min-height: 400px;
  max-width: 1332px;
  .sfr-main {
    max-width: 1332px;
  }
}

#tagline {
  text-align: left;
  margin: 25px 0;
}

.nypl-page-header {
  background-color: white;
}
.nypl-full-width-wrapper {
  max-width: 1332px;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  max-width: initial !important;
}

a:link,
a:visited,
a {
  color: #0071ce;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.bold {
  font-weight: bold;
}

.footer {
  .footerLinks {
    a {
      color: #fff;
    }
  }
}

.app-wrapper {
  height: 100%
}

.sfr-header-wrapper {
  // max-width: 840px;
  // width: 100%;
  margin: 0 auto;
}

.sfr-center {
  margin-left: auto;
  margin-right: auto;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.usa-form {
  a {
    text-decoration: none;
    &:hover {
      color: #005ea2;
    }
  }
}

.usa-table {
  font-family: $fontFamily;
}

select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.grid-col {
  flex: 1;
}
@-ms-viewport {
  width: device-width;
}

.usa-form {
  @media (min-width: 30em) {
    max-width: inherit;
  }
}
.usa-select {
  &.multiple {
    height: inherit;
  }
}

.header {
  .emailSubscription-wrapper {
    box-sizing: content-box;
  }
}
