.item-title {
    display: flex;
    flex-direction: column;

    .back-to-search-link {
        line-height: calc(1.1 * var(--font-size-4));
    }

    @media (min-width: $breakpoint-medium) {
        flex-direction: row;
        .back-to-search-link {
            padding-left: var(--space-s);
            min-width: 190px;
        }
    }
}