.advanced-search {
    .search-fields {
        display: flex;
        flex-direction: column;

        @media (min-width: $breakpoint-medium) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            div {
                flex: 0 1 48%;
            }
        }
    }

    hr { 
        @include space-stack-m;
    }

    .button-container {
        @include space-stack-m;
        display: flex;
        width: 100%;

        @media (min-width: $breakpoint-medium) {
            justify-content: flex-end;
        }
        button { 
            flex: 1;
            
            @media (min-width: $breakpoint-medium) {
                flex: initial;
                width: 150px;
            }
    
        }
        button:not(:last-child) {
            margin-right: 1em;
        }
    }
}