dl.nypl-details-table {
  width: 100%;
  margin: 0 0 40px 0;


  border-bottom: 1px solid #5b616b;
  display: flex;
  flex-flow: column;

    dt {
      border-top: 1px solid #5b616b;
      flex: 0 1 20%;
      text-align: left;
      font-weight: 500;
    }
    dd {
      flex: 0 1 80%;
      text-align: left;
      margin-left: 0;
      padding: 0;

      ul {
        list-style: none;
        margin-block-start: 0;
        margin-block-end: 0;
        padding: 0;
      }
    }
  
}
.work-details-tag {
  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
}
