.filters {
  padding: 1rem 2rem 1rem 2rem;

  .filters-header {
    font-weight: 700;
    font-size: 1.2rem;
  }

  .filters-box {
    margin-top: 1rem;
    .filters-box-header {
      font-weight: 500;
    }
  }

  .accordion { 
    background-color: white;

    .unordered-list {
      padding: 0 1em 0 1em;
    }
  }

  .usa-error-message {
    position: absolute;
    bottom: -2rem;
  }
}
