.logo-link__icon {
  height: 100%;
  vertical-align: middle;
  margin-right: 8px;
  transform: scale(0.6);
}

// Match DS/Webreader breakpoint
@media screen and (max-width: 960px) {
  .logo-link__label {
    display: none;
  }
}
