// Adding an extra margin to the breakpoints allows
// the breakpoints to be hit and the elements to be flexed at the same time
$breakpoint-margin: 35px;

.search-heading {
  @include space-stack-m;
}
.search-subheading {
  display: flex;
  justify-content: space-between;
  flex-flow: column;

  @media (min-width: (var(--nypl-breakpoint-medium) + $breakpoint-margin)) {
    align-items: center;
    flex-flow: row;
  }
}
.search-filter {
  @include space-stack-xs;
  border-top: 2px solid var(--nypl-colors-section-research-primary);
  background-color: var(--ui-gray-xlight);
  display: none;

  @media (min-width: (var(--nypl-breakpoint-medium) + $breakpoint-margin)) {
    display: block;
  }

  h2 {
    @include space-inset-xs;
  }

  legend {
    font-weight: bold;
  }
}
.search-widescreen-show {
  display: none;

  @media (min-width: (var(--nypl-breakpoint-medium) + $breakpoint-margin)) {
    display: block !important;
  }
}

.filter-button {
  @include space-stack-s;

  width: 100%;

  @media (min-width: (var(--nypl-breakpoint-medium) + $breakpoint-margin)) {
    display: none;
  }
}

.content-primary--with-sidebar-left {
  flex: 1 1 40%;
}

.content-bottom {
  margin: 0 auto;
}

.toggle-container {
  @include space-inset-xs;
}