/* FONT FACE MIXIN
 * ---------------
 * Usage: @include font-face('Kievit-Regular', 'http://...');
 * Desc: Do not include the font file extension, this mixin
 * will generate the proper extensions.
*/
/* FONT DEFINITIONS
 * ---------------------------
*/
/* KIEVIT */
/* Kievit Light */
@font-face {
  font-family: Kievit-Light;
  src: url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-Light.eot');
  src: url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-Light.eot?#iefix') format('embedded-opentype'),
    url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-Light.woff') format('woff'),
    url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-Light.ttf') format('truetype');
}

/* Kievit Book */
@font-face {
  font-family: Kievit-Book;
  src: url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-Book.eot');
  src: url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-Book.eot?#iefix') format('embedded-opentype'),
    url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-Book.woff') format('woff'),
    url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-Book.ttf') format('truetype');
}

/* Kievit Book Italic */
@font-face {
  font-family: Kievit-Book-Italic;
  src: url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-BookIta.eot');
  src: url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-BookIta.eot?#iefix') format('embedded-opentype'),
    url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-BookIta.woff') format('woff'),
    url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-BookIta.ttf') format('truetype');
}

/* Kievit Medium */
@font-face {
  font-family: Kievit-Medium;
  src: url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-Medi.eot');
  src: url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-Medi.eot?#iefix') format('embedded-opentype'),
    url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-Medi.woff') format('woff'),
    url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-Medi.ttf') format('truetype');
}

/* Kievit Meduim Italic */
@font-face {
  font-family: Kievit-Medium-Italic;
  src: url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-MediIta.eot');
  src: url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-MediIta.eot?#iefix') format('embedded-opentype'),
    url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-MediIta.woff') format('woff'),
    url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-MediIta.ttf') format('truetype');
}

/* Kievit Bold */
@font-face {
  font-family: Kievit-Bold;
  src: url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-Bold.eot');
  src: url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-Bold.eot?#iefix') format('embedded-opentype'),
    url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-Bold.woff') format('woff'),
    url('//ux-static.nypl.org/ff_kievit_web/KievitWeb-Bold.ttf') format('truetype');
}

/* KIEVIT Small Caps */
/* MILO */
/* Milo Slab Light */
@font-face {
  font-family: Milo-Light;
  src: url('//ux-static.nypl.org/milo-web/milo-slab-pro-light/MiloSlabWebPro-Light.eot');
  src: url('//ux-static.nypl.org/milo-web/milo-slab-pro-light/MiloSlabWebPro-Light.eot?#iefix') format('embedded-opentype'),
    url('//ux-static.nypl.org/milo-web/milo-slab-pro-light/MiloSlabWebPro-Light.woff') format('woff'),
    url('//ux-static.nypl.org/milo-web/milo-slab-pro-light/MiloSlabWebPro-Light.ttf') format('truetype');
}

/* Milo Slab Light Italic */
@font-face {
  font-family: Milo-Light-Italic;
  src: url('//ux-static.nypl.org/milo-web/milo-slab-pro-light-italic/MiloSlabWebPro-LightItalic.eot');
  src: url('//ux-static.nypl.org/milo-web/milo-slab-pro-light-italic/MiloSlabWebPro-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('//ux-static.nypl.org/milo-web/milo-slab-pro-light-italic/MiloSlabWebPro-LightItalic.woff') format('woff'),
    url('//ux-static.nypl.org/milo-web/milo-slab-pro-light-italic/MiloSlabWebPro-LightItalic.ttf') format('truetype');
}

/* Milo Slab Regular */
@font-face {
  font-family: Milo-Regular;
  src: url('//ux-static.nypl.org/milo-web/milo-slab-pro-regular/MiloSlabWebPro.eot');
  src: url('//ux-static.nypl.org/milo-web/milo-slab-pro-regular/MiloSlabWebPro.eot?#iefix') format('embedded-opentype'),
    url('//ux-static.nypl.org/milo-web/milo-slab-pro-regular/MiloSlabWebPro.woff') format('woff'),
    url('//ux-static.nypl.org/milo-web/milo-slab-pro-regular/MiloSlabWebPro.ttf') format('truetype');
}

/* Milo Slab Regular Italic */
@font-face {
  font-family: Milo-Regular-Italic;
  src: url('//ux-static.nypl.org/milo-web/milo-slab-pro-regular-italic/MiloSlabWebPro-Italic.eot');
  src: url('//ux-static.nypl.org/milo-web/milo-slab-pro-regular-italic/MiloSlabWebPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('//ux-static.nypl.org/milo-web/milo-slab-pro-regular-italic/MiloSlabWebPro-Italic.woff') format('woff'),
    url('//ux-static.nypl.org/milo-web/milo-slab-pro-regular-italic/MiloSlabWebPro-Italic.ttf') format('truetype');
}

/* Milo Slab Medium  */
@font-face {
  font-family: Milo-Medium;
  src: url('//ux-static.nypl.org/milo-web/milo-slab-pro-medium/MiloSlabWebPro-Medium.eot');
  src: url('//ux-static.nypl.org/milo-web/milo-slab-pro-medium/MiloSlabWebPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('//ux-static.nypl.org/milo-web/milo-slab-pro-medium/MiloSlabWebPro-Medium.woff') format('woff'),
    url('//ux-static.nypl.org/milo-web/milo-slab-pro-medium/MiloSlabWebPro-Medium.ttf') format('truetype');
}
