.search-header {
    h1 { color: var(--ui-white); }

    background-color: var(--section-research-primary);
}

.search-subheading {
    display: flex;
    justify-content: space-between;
    
    .mobile {

    }
}