.search-result {
    @include space-stack-m
}

.editions-link {
    margin-left: var(--space-m)
}

.no-results {
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (min-width: $breakpoint-medium) {
        flex-direction: row;
    }
    .no-results-item {
        @include space-inline-m;
    }
}